body {
  width: 1200px;
}

.heart {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/2000px-Heart_coraz%C3%B3n.svg.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  background-position: center;
  background-size: cover;
  margin: 100px auto;
}

.heart:active {
  transform: scale(5);
  transition: transform .3s ease-in-out;
}
